.header {
  grid-area: header;
}

.header--inner,
.footer--inner {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

.footer--inner {
  justify-content: center;
}

.header--title {
  font-family: $font-dog;
  line-height: 30px;

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  p {
    margin: 0;
    word-spacing: 5px;
  }
}

.header--quote {
  font-family: $font-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.footer {
  grid-area: footer;
  font-family: $font-serif;
  text-align: center;
}

@include phone-media {
  .header {
    padding: 25px 0 15px;
  }

  .header--inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header--quote {
    display: none;
  }
}
