.profile-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: 0.15s opacity ease-in-out;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  .profile--inner {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(219, 241, 247);
    width: auto;
    max-height: 800px;
    height: 800px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.4);
  }

  .profile--image {
    height: 85%;

    img {
      box-sizing: border-box;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .profile--details {
    h1,
    h2 {
      margin: 0;
    }

    .motto {
      font-style: italic;
      font-weight: lighter;
    }
  }

  .closeButton {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    color: white;
    background: lightcoral;
    border-radius: 5000px;
    padding: 4px 20px;
    transition: 0.15s background ease-in;
    &:hover {
      background: rgb(255, 100, 100);
    }
  }
}

@include phone-media {
  .profile-modal {
    .profile--inner {
      max-height: 350px;
      height: 350px;
    }

    .profile--image {
      height: 75%;
    }

    .profile--details {
      h1,
      h2 {
        font-size: 1rem;
      }
    }
  }
}
