/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-dog: "ToysRusFont", Fallback, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;
  --font-size: 16px;
  --max-width: 1200px;

  font-family: var(--font-sans);
  font-size: var(--font-size);
  font-weight: normal;
  line-height: 1.5;
}

@font-face {
  font-family: "ToysRusFont";
  src: url("/assets/fonts/toysrus-babiesrus-32273.ttf") format("truetype");
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

@import "app";
