/* Globals */
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-dog: "ToysRusFont", Fallback, sans-serif;
$font-serif: Georgia, serif;
$color-link: #635ac7;
$font-size: 16px;
$max-width: 1200px;
$grid-background: rgb(223, 247, 255);

@mixin phone-media {
  @media (max-width: 540px) {
    @content;
  }
}

@font-face {
  font-family: "ToysRusFont";
  src: url("/assets/fonts/toysrus-babiesrus-32273.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: $font-sans;
  font-size: $font-size;
  font-weight: normal;
  line-height: 1.5;
}

a {
  color: var(--color-link);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
  background-color: #fff;
  color: #444;
}

@import "header-footer";
@import "gallery";
@import "profile-view";
